body {
	font-family: "Roboto", san-serif;
	color: #333;
}

img {
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box; 
	/*See lecture 24 to explain border-box*/
}

a {
	color: $mainOrange;
}